:root {
    flex-direction: row-reverse;
    align-self: auto;
    align-items: flex-end;
}



.stamina-bar_container {
    background-color: rgb(68, 142, 72);
    height: 655px;
    min-width: auto;
    width: 25px;
    margin-top: 90px;
    margin-right: 45px;
    margin-bottom: 90px;
    margin-left: 90px;
    align-items: auto;
    justify-content: flex-end;
}

.stamina-bar_fill {
    background-color: rgb(102, 224, 109);
    transform-origin: bottom;
    width: 100%;
    max-height: 50%;
}
